/* stylish-templates options page */

.options { margin:0 17px; width: 800px; }
.options h2 a { background:url(../images/options_logo.png) no-repeat scroll center right transparent; color: #464646; display: block; font-size: 30px; font-style: normal; height:69px; margin: 10px 0 15px; text-decoration: none; width: 100%; }
.options a { color: #89813d; }
.options a:hover { color: #b6d621; }

.atention { background: #ffe9a5; padding: 20px; color: #413920; border: dashed 3px #ffdc70; line-height: 21px; margin-bottom: 20px; margin-top: 20px;}
.settingsBox { margin-bottom: 20px; }
.setHead { cursor: pointer; margin: 0px 0px 3px; display: block; background: #464646; padding: 10px; border-radius: 6px 6px; -moz-border-radius: 6px 6px; -webkit-border-radius: 6px 6px; height: 25px; }
.setHead h3 { font-family: 'Georgia'; font-size: 20px; padding: 4px 0 0 0; color: #ffffff; font-weight: normal;  margin: 0px; width: 400px; float: left; }
.setButton { width: 250px; float: right; text-align: right; }
.setButton input { background: #FFF7DD; border: solid 1px #FFDC70; color: #000; }

.settings .setting .left { width: 250px; float: left; font-size: 11px; color: #4E5F6C; padding-left: 65px; }
.settings .setting .left strong { display: block; font-size: 15px; margin-bottom: 5px; color: #313234; }
.clear { clear:both; }

.settings .setting .right { margin-left: 30px; float: left; width: 380px; }
.settings .setting { background: #f9f9f9; border: solid 15px #f9f9f9; margin-bottom: 3px; }
.settings .setting input, .settings .setting textarea, .settings .setting select { width: 380px; padding: 5px; border: solid 1px #B7C7D3; }
.settings .setting input#useslider, .settings .setting input#useteaser, .settings .setting input#usefeed, .settings .setting input#userss { width: 16px; }

.about { background: #E0F1FB; border: solid 15px #E0F1FB; margin-bottom: 3px; }

.setBox { margin-bottom: 5px; background: #ffffff; display: block; padding: 15px; }
.setBox strong { display: block; margin-bottom: 10px; }
.settings .setting .setBox input, .settings .setting .setBox select, .settings .setting .setBox textarea { width: 350px; margin-bottom: 10px;}
.setButton input { background: url(../images/save_bg.png) center right; border:0 none !important; color:#FFFFFF; font-weight:bold; padding:3px 22px 4px 9px; }

/* Icons */
.header { background: url(../images/headerlink_bg.jpg) no-repeat; }
.slider { background: url(../images/slider_bg.jpg) no-repeat; }
.teaser { background: url(../images/teaser_bg.jpg) no-repeat; }
.teaser_l { background: url(../images/teaser_l_bg.jpg) no-repeat; }
.teaser_m { background: url(../images/teaser_m_bg.jpg) no-repeat; }
.teaser_r { background: url(../images/teaser_r_bg.jpg) no-repeat; }
.sidebar { background: url(../images/sidebar_bg.jpg) no-repeat; }
.footer { background: url(../images/footer_bg.jpg) no-repeat; }
.buy { background: url(../images/externlink_bg.jpg) no-repeat; }
.license { background: url(../images/licenses_bg.jpg) no-repeat; }
.bug { background: url(../images/bug_bg.jpg) no-repeat; }
.news { background: url(../images/news_bg.jpg) no-repeat; }

.rssprofile { background: url(../images/rss_bg.jpg) no-repeat; }
.facebookprofile { background: url(../images/facebook_bg.jpg) no-repeat; }
.xingprofile { background: url(../images/xing_bg.jpg) no-repeat; }
.lastfmprofile { background: url(../images/lastfm_bg.jpg) no-repeat; }
.twitterprofile { background: url(../images/twitter_bg.jpg) no-repeat; }
.youtubeprofile { background: url(../images/youtube_bg.jpg) no-repeat; }